<div class="bg-dark p-2 mt-3 notice-detail-header">
    <h5 class="text-white">TRANG PHÒNG/KHOA</h5>
</div>
<div class="center-item border border-3 mt-3 rounded rounded-3">
    <!-- DETAIL -->
    <div class="changePassword text-center w-50 m-auto p-4">
        <div class="mb-3">
            <label for="password" class="form-label">Đổi mật khẩu</label>
            <input type="password" class="form-control" id="password" placeholder="Nhập mật khẩu mới...">
        </div>
        <button class="btn btn-info" onclick="changePassword()">Xác nhận</button>
    </div>
    <div class="showNotification border m-3 rounded rounded-3 bg-secondary">
        <% for(let i=0;i < notifications.length ; i++){ %>
            <div class="one-notice m-3 bg-white border m-3 rounded rounded-3 p-2" id="id<%= notifications[i]._id %>">
                <div class="date-time mb-1 d-flex">
                    <div class="col-sm-10 ">
                        [<%= notifications[i].category %>]&nbsp; -<%= notifications[i].createTime %>
                    </div>
                    <div class="col-sm-2 text-left d-flex">
                        <button class="btn btn-warning"
                            onclick="editNotification('<%= notifications[i]._id %>')">Sửa</button>
                        <button class="ml-2 btn btn-danger"
                            onclick="deleteNotification('<%= notifications[i]._id %>')">Xoá</button>
                    </div>
                </div>
                <div class="title text-center mb-1 text-uppercase">
                    <input type="text" class="title m-auto">
                    <a href="notification/<%= notifications[i]._id %>">
                        <p class="title">
                            <%= notifications[i].title %>
                        </p>
                    </a>
                </div>
                <div class="summary mb-1">
                    <input type="text" class="summary">
                    <p class="summary">
                        <%= notifications[i].summary %>
                    </p>
                </div>
                <div class="detail mb-1">
                    <textarea class="form-control detail"></textarea>
                    <p class="detail">
                        <%= notifications[i].detail %>
                    </p>
                </div>
                <div class="confirm-btn text-center" id="id<%= notifications[i]._id %>">
                    <button class="btn btn-danger mx-2" onclick="unEditNoti('<%= notifications[i]._id %>')">Huỷ</button>
                    <button class="btn btn-success"
                        onclick="confirmEditNoti('<%= notifications[i]._id %>')">Lưu</button>
                </div>
            </div>
            <% } %>
    </div>
</div>