<div class="bg-dark p-2 mt-3 notice-detail-header">
    <h5 class="text-white">CHI TIẾT THÔNG BÁO</h5>
</div>
<div class="center-item border border-3 mt-3 rounded rounded-3 bg-light p-2">
    <!-- DETAIL -->
    <div class="notice-detail">
        <div class="detail-box">
            <div class="title text-uppercase text-center my-3">
                <%= notification.title %>
            </div>
            <div class="date-time text-right mx-4">
                <%= notification.category %>&nbsp;- <%=notification.createTime.split(',')[0] %>
            </div>
            <div class="summary mt-3 mx-4">
                <%= notification.summary %>
            </div>
            <div class="detail my-3 mx-4">
                <%= notification.detail %>
            </div>
        </div>
    </div>
</div>